{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                {% if article.photo %}
                <img  style="width: 500px; margin-left: 430px;" class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
                {% endif %}
                <h1 class="card-title">{{ object.title }}</h1>
                <h6 class="card-cubtitle mb-2 text-muted">avtor: {{ object.author }} | {{ object.date }}</h6>
                <p class="card-text"> {{object.body | safe }} </p>
                <a href="{% url 'article_edit' article.pk %}">O'zgertiw</a> |
                <a href="{% url 'article_delete' article.pk %}">O'shiriw</a> |
                <a href="{% url 'article_list' %}">Barliq postlar</a>
            </div>
            <div class="card">
                <div class="card-header">Comments</div>
                {% for comment in article.comments.all %}
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>{{ comment }}</p>
                            <footer class="blockquote-footer"> Avtor: {{ comment.author | title }}</footer>
                        </blockquote>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}